---
layout: layout/index.njk
title: cours informatique

eleventyExcludeFromCollections: true
---

{%- for index in collections.index -%}
    <article class="py-4">
        <a href="{{ index.url | url }}">{{ index.data.title }}</a>
        <div class="px-4 py-2">
        <p class="px-4 m-0">
            {% résumé index %}
        </p>
        </div>
    </article>

{%- endfor -%}