---
layout: layout/base.njk
---

<article>

  <h1  {% if tags or authors %}class="mb-1"{% endif %}>{{ title }}</h1>
  <div {% if tags or authors %}class="mb-4"{% endif %}>
    {% if tags %}
      <div class=" px-4 flex items-center">
        {% if tags | length > 1 %}
          <div class="font-bold">Tags : </div>
        {% else %}
          <div class="font-bold">Tag : </div>
        {% endif %}
        <ul class="flex not-prose list-none my-0 last:after:content-['•'] last:after:px-1 mx-0 px-1">
          {% for tag in tags %}
            <li class="before:content-['•'] before:px-1">{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if authors %}
      <div class=" px-4 flex items-center">
        {% if authors | length > 1 %}
          <div class="font-bold">Auteurs : </div>
        {% else %}
          <div class="font-bold">Auteur : </div>
        {% endif %}
        <ul class="flex not-prose list-none my-0 last:after:content-['•'] last:after:px-1 mx-0 px-1">
          {% for author in authors %}
            <li class="before:content-['•'] before:px-1">{{ author }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>

  {% if eleventyNavigation and eleventyNavigation.key %}
    {% chemin %}
      {%- for page in collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key, { includeSelf: true, allowMissing: false  }) -%}
        {%- if not loop.first -%}
          <span class="px-1">/</span>{%- endif -%}
        <a href="{{ page.url | url }}">{{page.title}}</a>
      {%- endfor -%}
    {% endchemin %}
  {% endif %}

  {{ content | safe }}

</article>