---
layout: layout/post.njk 
title: "Enseignements MPCI"

tags: ['enseignement', 'ECM']

eleventyNavigation:
  order: 1

eleventyComputed:
  eleventyNavigation:
   key: "{{ page.url }}"
   title: "{{ title }}"
   parent: "{{ '../' | siteUrl(page.url) }}"
---

<!-- début résumé -->

Formations données en MPCI.

<!-- fin résumé -->

{{ collections.all | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml() | safe }}