blockquote.note {
  border: .25rem solid #4f4f64;
  border-radius: .3rem;
  background-color: #FBFFF2;

}    
blockquote.note:before {
  content: 'À RETENIR';

  font-weight: 700;
  font-style: normal;
}

blockquote.attention {
  border: .25rem solid #F54F4F;
  border-radius: .3rem;
  background-color: #FBFFF2;
}
blockquote.attention:before {
  content: 'ATTENTION';
  color: #F54F4F;

  font-weight: 700;
  font-style: normal;
}

blockquote.chemin {
  border: .25rem solid #5549DE;
  border-radius: .3rem;
  background-color: #FBFFF2;
}    
blockquote.chemin:before {
  content: 'CHEMIN';
  color: #5549DE;

  font-weight: 700;
  font-style: normal;
}

.exercice {
  border-left: .5rem solid #E8A41E;
  padding-left: .75rem;
}
.exercice::before {
  content: "EXERCICE";
  color: #E8A41E;
  font-weight: 700;
  font-style: normal;
}

.exercice details > summary  {
  color: #E8A41E;
}
.exercice details > summary::before  {
  color: #E8A41E;
}
