details {
    summary {
        &::before {
            content: ">  [caché]";
            font-weight: bold;
            float: left;
            color: #FA5EEC;
            padding:0;
            padding-right: .5em;
        }
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }

        margin-bottom: 0.8em;
    }
    &.open, &[open] {
        summary::before {
            content: "v  [visible]";
            color: #49AD1F;
            padding-right: .5em;
        }
    }
    & > div {
        padding-left: 1em;
        border-left: 4px solid #49AD1F;
        background: #FBFFF2;
    }
}
