@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans;
  }

  img {
    @apply mx-auto;
  }

  h2 {
    @apply border-black border-0 border-b-4 border-solid;
  }
  h3 {
    @apply border-black border-b-2 border-solid;
  }

  h4 {
    @apply border-black border-b border-solid;
  }

  h5 {
    @apply border-black border-b border-dashed font-bold mt-6 mb-2;
  }

  mjx-container[jax="SVG"] > svg {
    display: inline;
  }

  summary p {
    @apply m-0 inline-block;
  }

  article {
    @apply max-w-none prose prose-slate;
  }

  blockquote {
    @apply border-l-8;
  }
  code[class*="language-"]::before,
  code[class*="language-"]::after {
    content: "";
  }

  img {
    @apply border-4 rounded p-0 m-4 max-w-[90%] mx-auto;
  }
}

@layer components {
  a:not([class]),
  a:not([class]):visited {
    @apply underline decoration-emerald-500 decoration-2 hover:text-emerald-800 hover:decoration-emerald-800 active:decoration-4;
  }
}

table.no-border tr {
  @apply border-none;
}

.prose .fichier {
  @apply underline decoration-1;
}

.quote p,
.quote ul,
.quote ol,
.quote li {
  @apply m-0;
}

details p {
  @apply mb-0;
}

a.interne,
a.interne:visited,
.interne a,
.interne a:visited {
  @apply underline decoration-purple-500 decoration-2 hover:text-purple-800 hover:decoration-purple-800 active:decoration-4;
}

a.fichier,
a.fichier:visited {
  @apply underline decoration-purple-500 decoration-2 hover:text-purple-800 hover:decoration-purple-800 active:decoration-4;
  padding-left: 20px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6" color="purple"><path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m.75 12l3 3m0 0l3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" /></svg>');
  background-repeat: no-repeat;
  background-position: left;
}

/* Show line numbers on code */
/* Source issue: https://github.com/11ty/eleventy-plugin-syntaxhighlight/issues/10 */
pre {
  counter-reset: lineNumber;
  box-shadow: 4px 4px 2px 1px #858585;
}
code .highlight-line:before {
  -webkit-user-select: none;
  border-right: 1px solid #404040;
  color: #858585;
  content: counter(lineNumber);
  counter-increment: lineNumber;
  display: inline-block;
  font-variant-numeric: tabular-nums;
  margin-right: 1.2em;
  padding-right: 1.2em;
  text-align: right;
  width: 2.4em;
}

/* commentaire pour latte */
.token.comment {
	color: #549441;
}
