---
layout: layout/post.njk 
title: Enseignements en Troisième année

tags: ['enseignement', 'ECM']

eleventyNavigation:
  order: 3

eleventyComputed:
  eleventyNavigation:
    key: "{{ page.url }}"
    title: "{{ title }}"
    parent: "{{ '../' | siteUrl(page.url) }}"
---

<!-- début résumé -->

Enseignements donnés en troisième année de l'Ecole Centrale Marseille.

<!-- fin résumé -->

{{ collections.enseignement | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml() | safe }}