---
layout: layout/post.njk 
title: "Enseignements à l'Ecole Centrale Marseille"

tags: ['enseignement', 'ECM']

eleventyNavigation:
  order: 1

eleventyComputed:
  eleventyNavigation:
    key: "{{ page.url }}"
    title: "{{ title }}"
    parent: "Enseignements"
---

<!-- début résumé -->

Formations données actuellement à l'école centrale Marseille.

<!-- fin résumé -->

{{ collections.all | eleventyNavigation(eleventyNavigation.key) | eleventyNavigationToHtml() | safe }}